// Typography variables

$sans-serif: 'Montserrat', sans-serif;
$serif: 'Merriweather', serif;
$monospace: Menlo, Monaco, Consolas, "Courier New", monospace;

$font__main: $sans-serif;
$font__code: $monospace;
$font__pre: $monospace;

$line-height: 1.5;

$font__line-height-body: $line-height;
$font__line-height-pre: $line-height;
