// Layout

.site-header,
.site-content,
.site-footer {
  padding: 0 1rem;
  margin: 0 auto;
  max-width: 62rem;
}

// Header
.site-header {
  margin-top: 5rem;
  margin-bottom: 4rem;
}

.site-branding {}

.site-title,
.site-description {
  display: block;
  float: left;
  line-height: 1;
}

.site-title {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 700;

  a {
    display: block;
    font-family: $sans-serif;
    text-decoration: none;
    letter-spacing: -.0625rem;
    color: $color__text-main;
  }
}

.site-description {
  margin: 1.375rem 0 0 1rem;
  font-family: $serif;
  font-size: .875rem;
  font-style: italic;
}


.content-area {
  float: left;
  margin: 0 (-$size__site-sidebar) 0 0;
  width: $size__site-main;
}

.site-main {
  margin: 0 $size__site-sidebar 0 0;
}

.site-content .widget-area {
  float: right;
  overflow: hidden;
  width: $size__site-sidebar;
}

.site-footer {
  clear: both;
  width: $size__site-main;
}
