// Menus
.main-navigation {
  margin-top: 3rem;
  display: block;
  float: left;
  width: 100%;
  border-bottom: .1875rem solid lighten($color__text-main, 3%);
  clear: both;

  ul {
    display: none;
    list-style: none;
    margin: 0 -.625rem;
    padding-left: 0;

    ul {
      box-shadow: 0 3px 3px rgba(0, 0, 0, .2);
      float: left;
      position: absolute;
      top: 1.5em;
      left: -999em;
      z-index: 99999;

      ul {
        left: -999em;
        top: 0;
      }

      li {
        &:hover > ul,
        &.focus > ul {
          left: 100%;
        }
      }

      a {
        width: 200px;
      }

      :hover > a,
      .focus > a {
      }

      a:hover,
      a.focus {
      }
    }

    li:hover > ul,
    li.focus > ul {
      left: auto;
    }
  }

  li {
    float: left;
    position: relative;

    &:hover > a,
    &:focus > a,
    &.focus > a {
      color: $color__link;
    }
  }

  a {
    padding: 1rem .625rem .8125rem;
    display: block;
    font-family: $serif;
    font-size: .875rem;
    font-weight: 900;
    text-decoration: none;
    color: $color__text-main;
  }

  .current_page_item > a,
  .current-menu-item > a,
  .current_page_ancestor > a,
  .current-menu-ancestor > a {
    color: $color__link;
  }
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@media screen and (min-width: 45rem) {
  .menu-toggle {
    display: none;
  }

  .main-navigation ul {
    display: block;
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {
  .site-main & {
    margin: 0 0 1.5em;
    overflow: hidden;
  }

  .nav-previous {
    float: left;
    width: 50%;
  }

  .nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }
}
